.pages-links
  = link_to('About', 'https://www.mailpile.is')
  = link_to('Codebase', 'http://github.com/pagekite/Mailpile')
  = link_to('Donate', 'https://www.mailpile.is/donate/')
  = link_to('Blog', 'https://www.mailpile.is/blog/')
